@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Rent a Car</h1>
    <h2>Uygulamasına Hoşgeldiniz</h2>
    <p>Araçları görmek için <a asp-controller="Arac" asp-action="Index" >tıklayınız</a> </p>
</div>
